@model JITC.Models.ViewModels.SearchViewModel
@{
    var Model = new JITC.Models.ViewModels.SearchViewModel();

  <div class="row g-3 ">
  <form asp-controller="Vols" asp-action="Index"  enctype="multipart/form-data">
    <div class="col form-floating">
    
        <select asp-for="DepartId"  asp-name="DepartId" class="form-control" placeholder="Départ">
                        <option value="1" selected>Select Aeroport</option>
                        @{
                        if (ViewBag.Aeroport != null)
                        {
                            foreach (var item in ViewBag.Aeroport)
                            {
                                        <option value="@item.Id">@item.Nom</option>
                            }
                        }
                        }
                    </select>
        <label for="DepartId">Départ</label>
    </div>
    <div class="col form-floating">
        <select asp-for="ArriveId" name="ArriveId" class="form-control" placeholder="Destination">
                        <option value="2"   selected>Select Aeroport</option>
                        @{
                        if (ViewBag.Aeroport != null)
                        {
                            foreach (var item in ViewBag.Aeroport)
                            {
                                        <option value="@item.Id">@item.Nom</option>
                            }
                        }
                        }
                    </select>
        <label for="ArriveId">Destination</label>
     </div
            <div class="form-group">
                <input asp-for="DepartDate" type="date" class="form-control"  placeholder="Date" required/>
                <span asp-validation-for="DepartDate" class="text-danger"></span>
            </div>
        <div class="col">
            <button  type ="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </form>
  </div>
}
