@model JITC.Models.ViewModels.SearchViewModel
@{
    var Model = new JITC.Models.ViewModels.SearchViewModel();
    <script type="text/javascript">
    
       $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;

    

    $('#DepartDate').attr('min', maxDate);
});
    </script>
  <div class="container-fluid bg-light" >
  
      <form class="row gx-3 gy-2 align-items-center d-flex justify-content-between" asp-controller="Vols" asp-action="Index"  enctype="multipart/form-data">
        <div  class="col-sm-3 form-floating">
    
            <select asp-for="DepartId"  asp-name="DepartId" class="form-select"  placeholder="Départ">
                            <option value="1" selected>Select Aeroport</option>
                            @{
                            if (ViewBag.Aeroport != null)
                            {
                                foreach (var item in ViewBag.Aeroport)
                                {
                                            <option value="@item.Id">@item.Nom</option>
                                }
                            }
                            }
                        </select>
            <label for="DepartId">Départ</label>
        </div>
        <div class="col-sm-3 form-floating">
            <select asp-for="ArriveId" name="ArriveId" class="form-select" id="inputGroup-sizing-lg" placeholder="Destination">
                            <option value="2"   selected>Select Aeroport</option>
                            @{
                            if (ViewBag.Aeroport != null)
                            {
                                foreach (var item in ViewBag.Aeroport)
                                {
                                            <option value="@item.Id">@item.Nom</option>
                                }
                            }
                            }
                        </select>
            <label for="ArriveId">Destination</label>
         </div>
                <div class=" col-sm-3 form-floating">
                    <input asp-for="DepartDate"  id= "DepartDate" type="date" class="form-control" id="inputGroup-sizing-lg"   placeholder="Date" required/>
                    <span asp-validation-for="DepartDate" class="text-danger"></span>
                    <label for="DepartId">Date de Départ</label>
                </div>
            <div class="col-auto ">
                <button  type ="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </form>
        <br>
        <a class="link-primary" asp-controller="Vols" asp-action="Index"> Voir tous les vols </a>
        <br>
  </div>
  
}
