@page
@model RegisterModel
@{
    ViewData["Title"] = "S'inscrire";
}

<h1>@ViewData["Title"]</h1>

<div class=" d-flex justify-content-center">
  
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"  class="px-4 py-3">
            <h2>Creer un nouveau compte.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" mb-3 form-floating">
                <input asp-for="Input.Firstname" class="form-control" autocomplete="firstname" aria-required="true" />
                <label asp-for="Input.Firstname"></label>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>
            <div class=" mb-3 form-floating">
                <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" />
                <label asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class=" mb-3 form-floating">
                <input asp-for="Input.Birthdate" class="form-control" autocomplete="birthdate" aria-required="true" />
                <label asp-for="Input.Birthdate"></label>
                <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Username"></label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            
            <div class="mb-3 form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">S'inscrire'</button>
        </form>
   
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
