@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var Names = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ObjectName);
    var Values = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Data);
}
<h1>Statistique Taux de remplissage des appareils</h1>
    <div class="row">
        <div class="col-8 chart-container">
            <canvas id="monChart" style="width:100%; height:500px"></canvas>
        </div>
    
    </div>

     <script>  
        var jsNames = JSON.parse('@Html.Raw(Names)');
        var jsDatas = JSON.parse('@Html.Raw(Values)');
new Chart("monChart", {
    type: 'bar',
    data: {
        labels : jsNames,
        datasets: [{
            data : jsDatas,
            backgroundColor : "#f990a7"
        }]
    }, 
                        options:  
                            {  
                                title:  
                                {  
                                    display: true,  
                                    text: "ProductWise Sales Count"  
                                },  
                                responsive: true,  
                                maintainAspectRatio: true  
                            }  
         });
       
    </script> 
	
