@model JITC.Models.Vol

@{
    ViewData["Title"] = "Create";
}
<script>
    function toggle(source) {
  checkboxes = document.getElementsByName('Recurrence');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
<h1>Creer </h1>

<h4>Vol</h4>
<hr />

    <div class="justify-content-center">
        <form asp-action="Create" class="px-4 py-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 form-group">
                <label asp-for="AeroportDepartId" class="control-label"></label>
                <select asp-for="AeroportDepartId" class ="form-control" asp-items="ViewBag.AeroportDepartId"></select>
                <span asp-validation-for="AeroportDepartId" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="AeroportArriveId" class="control-label"></label>
                <select asp-for="AeroportArriveId" class ="form-control" asp-items="ViewBag.AeroportArriveId"></select>
                <span asp-validation-for="AeroportArriveId" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="NombrePlace" class="control-label"></label>
                <input asp-for="NombrePlace" class="form-control" min="1"/>
                <span asp-validation-for="NombrePlace" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="HeureDepartPrevue" class="control-label"></label>
                <input asp-for="HeureDepartPrevue" class="form-control" />
                <span asp-validation-for="HeureDepartPrevue" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="HeureArrivePrevue" class="control-label"></label>
                <input asp-for="HeureArrivePrevue" class="form-control" />
                <span asp-validation-for="HeureArrivePrevue" class="text-danger"></span>
            </div>
           <!--  <div class="form-group">
                <label asp-for="HeureDepartReelle" class="control-label"></label>
                <input asp-for="HeureDepartReelle" class="form-control" />
                <span asp-validation-for="HeureDepartReelle" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="HeureArriveReelle" class="control-label"></label>
                <input asp-for="HeureArriveReelle" class="form-control" />
                <span asp-validation-for="HeureArriveReelle" class="text-danger"></span>
            </div>-->
            <div class="mb-3 form-group">
                <label asp-for="PiloteId" class="control-label"></label>
                <select asp-for="PiloteId" class ="form-control" asp-items="ViewBag.PiloteId"></select>
            </div>
           <!-- <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>-->
            <div class="mb-3 form-group">
                <label asp-for="AppareilId" class="control-label"></label>
                <select asp-for="AppareilId" class ="form-control" asp-items="ViewBag.AppareilId"></select>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="Recurrence" class="control-label"></label>
                <br />
                <div class="form-check form-check-inline">
                  <input for="Recurrence" name="Recurrence" class="form-check-input" type="checkbox" id="inlineCheckbox1" onClick="toggle(this)" >
                  <label class="form-check-label" for="Recurrence">Tous les jours </label>
                </div>
                <div class="form-check form-check-inline">
                  <input for="Recurrence" name="Recurrence" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Monday">
                  <label class="form-check-label" for="Recurrence">Tous les lundis </label>
                </div>
                <div class="form-check form-check-inline">
                  <input for="Recurrence" name="Recurrence" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Tuesday">
                  <label class="form-check-label" for="Recurrence">Tous les mardis </label>
                </div>
                <div class="form-check form-check-inline">
                  <input for="Recurrence" name="Recurrence" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Wednesday">
                  <label class="form-check-label" for="Recurrence">Tous les mercredis </label>
                </div>
                <div class="form-check form-check-inline">
                  <input for="Recurrence" name="Recurrence" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Thursday">
                  <label class="form-check-label" for="Recurrence">Tous les jeudis </label>
                </div>
                <div class="form-check form-check-inline">
                  <input for="Recurrence"  name="Recurrence" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Friday">
                  <label class="form-check-label" for="Recurrence">Tous les vendredis </label>
                </div>
                <div class="form-check form-check-inline">
                  <input for="Recurrence" name="Recurrence" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Saturday">
                  <label class="form-check-label" for="Recurrence">Tous les samedis </label>
                </div>
                <div class="form-check form-check-inline">
                  <input for="Recurrence" name="Recurrence" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Sunday">
                  <label class="form-check-label" for="Recurrence">Tous les dimanches </label>
                </div>
               
                <span asp-validation-for="Recurrence" class="text-danger"></span>
            </div>

            <div class=" mb-3 form-group">
                <label asp-for="NombreMois" class="control-label">Récurrence pour X mois</label>
                <input  asp-for="NombreMois" name="NombreMois" class ="form-control" min="0" max="12"></input>
                  <span asp-validation-for="NombreMois" class="text-danger"></span>
            </div>
           <!--<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Retard" /> @Html.DisplayNameFor(model => model.Retard)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Raison" class="control-label"></label>
                <input asp-for="Raison" class="form-control" />
                <span asp-validation-for="Raison" class="text-danger"></span>
            </div>--> 
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index">Liste vol</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
