@model JITC.Models.ViewModels.VolViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />

    <div class="d-flex justify-content-center">
        <form asp-action="Create" class="px-4 py-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" mb-3 form-group" hidden>
                <label asp-for="Reservation.volId" class="control-label"></label>
                <input asp-for="Reservation.volId" class ="form-control" asp-items="ViewBag.volId">
            </div>
            <div class=" mb-3 form-group">
                <label class="control-label"> @Model.Reservation.vol.AeroportDepart.Nom </label>
                <label class="control-label"> @Model.Reservation.vol.AeroportArrive.Nom </label>
                <label class="control-label"> @Model.Reservation.vol.HeureDepartPrevue </label>
                
            </div>
            <div class=" mb-3 form-group">
                <label asp-for="Reservation.place" class="control-label"></label>
                <input asp-for="Reservation.place" class="form-control" />
                <span asp-validation-for="Reservation.place" class="text-danger"></span>
                <label class="control-label"> "Nombre de place disponible : " @Model.NombrePlaceDispo </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Creer" class="btn btn-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index">Liste de Reservation</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
