@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <partial name="_SearchPartial" />
    </div>
    


    <div class="container mt-2">
  <div class="row">
    <div class="col "  style="
    background-image: url('img/BX.jpg'); max-width: 100%; height: auto;">
        <h2>Bruxelles</h2>
        <p>Visitez Bruxelles</p>
    </div>
    <div class="col"
        style="background-image: url('img/liege.jpg'); max-width: 100%; height: auto;">
        <h2>Liège</h2>
        <p>Visitez Liège</p>
    </div>
    <div class="col"
        style="background-image: url('img/oostende.jpg');max-width: 100%; height: auto;">
        <h2>Oostende</h2>
        <p>Visitez Oostende</p>
    </div>
    <div class="col"
        style="background-image: url('img/charleroi.png');  max-width: 100%; height: auto;">
        <h2>Charleroi</h2>
        <p>Visitez Charleroi</p>
    </div>
  </div>

  <div>
      <h2>A Propos de Nous</h2>
      <p>Les routes et autoroutes belges étant de plus en plus encombrées, des opportunités de nouveaux
services apparaissent.
L’un de ceux-ci, mis en place par la just-in-time company© (JITC), consiste en une offre de transport
de personnes par hélicoptère.
La JITC a pris contact avec vous pour développer son offre internet. Vous trouverez ci-dessous les
user stories décrivant les fonctionnalités attendues par votre client. </p>
  </div>
</div>
</div>
